header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $black-light;
  position: fixed;
  z-index: 999;
  background-color: rgba(6, 9, 15, 0.4);
  backdrop-filter: blur(6px);
}

.logo{
  max-width: 64px;
  min-width: 48px;
}

.cta-desktop, .search{
display: block;

@include responsive (s){
  display: none;
}
}

.cta-mobile{
display: none;

@include responsive (s){
  display: block;
}
}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;


  
 

  .menu{
    display: flex;
ul{
    list-style: none;
  }
li{
   margin-left: 24px;
}
 a{
    text-decoration: none;
  }

  @include responsive(s){
    display: none;
  }
  }
}

.menu-mobile{
  width: 100%;
  height: 100vh;

margin-top: 80px;

  position: absolute;
  top: 0;
  left: -100%;
  
  background-color: rgba(6, 9, 15, 0.4);
  backdrop-filter: blur(8px);
  z-index:990;



  li{
border-bottom: 1px solid $black-light;
  }

  .link-menu-mobile{
    display: inline-block;
    width: 100%;
    height: 100%;

    padding: 24px 16px 24px 16px;
    transition: background-color .4s cubic-bezier(.22, 1, .36, 1),
      padding-left .4s cubic-bezier(.22, 1, .36, 1);
    

    &:hover{
      background-color: $black-light;
      padding: 24px 16px 24px 24px;
    }
  }
}

.menu-mobile.showmenu{
  position: absolute;
  top: 0;
  left: 0;
  transition: .7s ease;

}

.bx{
width: 40px;
height: 40px;
cursor: pointer;
position: relative;

display: none ;

@include responsive(s){
  display: block;
}

&::after{
content: '';
width: 70%;
height: 2px;
display: block;

position: absolute;
top: 35%;
left: 40%;


transform: translate(-50%, -50%);
transition:.6s ease ;

border-radius: 2px;

background-color: $white-light;
}

&::before{
content: '';
width: 70%;
height: 2px;
display: block;

position: absolute;
top: 65%;
left: 60%;


transform: translate(-50%, -50%);
transition:.6s ease ;

border-radius: 2px;
background-color: $white-light;
}
}


.bx.active{



&::after{
content: '';
width: 70%;
height: 2px;
display: block;

position: absolute;
top: 50%;
left: 50%;

transform: translate(-50%, -50%) rotate(135deg);

border-radius: 2px;

background-color: $white-light;
}

&::before{
content: '';
width: 70%;
height: 2px;
display: block;

position: absolute;
top: 50%;
left: 50%;

transform: translate(-50%, -50%) rotate(-315deg);

border-radius: 2px;
background-color: $white-light;
}
}
