// reset inicial
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'sass/colors';
@import 'sass/layout';
@import 'sass/typography';
@import 'sass/buttons';
@import 'sass/icons';
@import 'sass/menu';
@import 'sass/spacing';

// serve para quandoi criarmos um link interno, sermos direcionados de forma animada, não "seca"
html{
  scroll-behavior: smooth;
}


  body{
    width: 100%;
    position: relative;

    background-color: $black-dark;
    

    // Personaliza a barra de rolagem em navegadores WebKit/Blink,
    // como Chrome, Edge e Safari.
    &::-webkit-scrollbar{
      padding-right: 2px;
      width: 8px;
      background: transparent;
    }

    // Define a parte que se move dentro da barra de rolagem.
    &::-webkit-scrollbar-thumb{
      border-radius: 8px;
      background-color: $black-light;
    }
  }



  .hidden{
    overflow: hidden;
  }

  .relative{
    position: relative;
  }

  svg, img{
    width: 100%;
  }